rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tracks/{trackId} {
      allow read, write: if true;
    }
    match /users/{userId} {
      allow read, write: if true;
    }
    match /users/{userId}/feed/{feedItem} {
      allow read, write: if true;
    }
    match /users/{userId}/listening_history/{historyId} {
      allow read, write: if true;
    }
    match /users/{userId}/followed_playlists/{playlistId} {
      allow read, write: if true;
    }
    match /playlists/{playlistId} {
      allow read, write: if true;
    }
  }
}
